<section class="bg-primary" id="frc">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h1 class="section-heading">FRC (First Robotic Competition) Nedir?</h1>
                <hr class="light">
            </div>
            <div class="col-lg-7 col-lg-offset-0 col-md-6">
                <p class="text" style="font-size: 17px;">FRC 14-18 yaş grubuna hitap eden uluslararası robotik yarışmasıdır. Her sene seçilen tema
                    yılın ilk haftalarında belirlenen Kick-off adlı günde açıklanır. Takımlardan, robotlarını bu göreve
                    uygun tasarlamaları beklenir. Takımlara, robotlarını inşa etmek için Kick-off gününden itibaren
                    başlayan 6 haftalık süreç verilir ve bu 6 haftalık sürenin sonunda bütün takımlar robotlarını yarışma
                    alanına kargolar.
                </p>
                <br>
                <p class="text" style="font-size: 17px;">
                    Bu sene bizim katılacağımız Mersin bölgesindeki yarışmanın 10-12 Mart 2023 tarihleri arasında yapılması planlanmaktadır.
                </p>
            </div>
            <div class="col-lg-5 col-md-6" align="center">
                <img src="img/frc.jpg" class="img-responsive" alt="FRC">
            </div>
        </div>
    </div>
</section>
