<header>
    <div class="header-content">
        <div class="header-content-inner">
            <br>
            <br>
            <br>
            <br>
            <br>
            <h1 style="backdrop-filter: blur(10px) saturate(70%);color: white;font-size: 60px;">PUHU ROBOTICS #9187</h1>
            <hr>
            <p style="backdrop-filter: blur(10px) saturate(70%);color: white;font-size: 20px;">Konya'nın İLK ve TEK FRC takımı olan biz; Selçuklu Fen Lisesi bünyesinde kurulan, günden güne kendini geliştiren ve büyüyen bir robotik takımıyız.</p>
            <br>
            <br>
            <br>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Daha Fazlası</a>
        </div>
    </div>
</header>
