<section id="sponsorluk">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Destekçilerimiz</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="text-center">
                <div class="service-box" align="center">
                    <a target="_blank" href="https://ozsamur.com/"><img src="img/özsamur.png" class="img-responsive" alt=""></a>
                    <h3>Özsamur Elektronik ve Otomasyon</h3>
                </div>
            </div>
        </div>
    </div>
</section>
