<section id="sponsorluk">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Destekçilerimiz</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box" align="center">
                    <a target="_blank" href="https://ozsamur.com/"><img src="img/ozsamur.jpg" class="img-responsive" alt=""></a>
                    <h3>Özsamur Elektronik ve Otomasyon</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box" align="center">
                    <a target="_blank" href="https://robomax.com.tr/"><img src="img/robomax.png" class="img-responsive" alt=""></a>
                    <h3>Robomax Robot ve Otomasyon</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box" align="center">
                    <a target="_blank" href="https://www.burotime.com/tr"><img src="img/burotime.jpg" class="img-responsive" alt=""></a>
                    <h3>Bürotime Ofis Mobilyaları</h3>
                </div>
            </div>
        </div>
    </div>
</section>
