<section id="who_am_i">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Biz Kimiz?</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class=" col-lg-5 col-lg-offset-0 col-md-6 text-center">
                <div class="service-box" align="center">
                    <img src="img/demografya.jpg" class="img-responsive">
                    <h3>Özsamur Elektronik ve Otomasyon</h3>
                </div>
            </div>
            <div class="col-lg-7 col-lg-offset-0 col-md-6">
                <p class="text" style="font-size: 17px;">2022-2023 eğitim öğretim yılında Selçuklu Fen Lisesi
                    bünyesinde kurulan PUHU ROBOTICS takımı, bu sene 17 öğrenci
                    ve 3 mentör öğretmenden oluşan robotik takımıdır. Geçmiş senelerde
                    küçük ekipler halinde çalışmalarına devam eden öğrencilerimiz bu
                    sene daha büyük hedefler çatısı altında birleşerek Puhu Robotics
                    takımını kurmuşlardır. Takımımız geçmişte özellikle TEKNOFEST
                    ve MEB Robot yarışmalarının yanı sıra, TÜBİTAK Lise, TÜBİTAK
                    4006, Bayer, OKSEF, ESRİ CBS, ODTÜ Robot yarışmalarına
                    katılmış ve bazılarında derece elde etmiştir.
                </p>
            </div>
        </div>
    </div>
</section>
